.info-text {
    color: #dee2e6;
}

.searcher {
  margin-left: 4.5em;
  margin-top: 1em
}

.todes {
  margin-left: 9.5em;
  margin-top: 1em
}

.torneo {
  margin-left: 6.5em;
  margin-top: 1em
}

.liga {
  margin-left: 6.5em;
  margin-top: 1em
}

.copa {
  margin-left: 6.5em;
  margin-top: 1em
}

.femenino {
  margin-left: 6.5em;
  margin-top: 1em
}

.title {
  margin-top: 1em;  
  margin-left: 1.7em;
}