<body>
  <main role="main">

  <!-- Información del club -->
  <div class="container_info">
    <h1 class="text-center">Deportes Quindío</h1>
    <p>El deportes quindio es un club de futbol que tiene sede en la ciudad de Armenia en el departamento del
      Quindio. Actualmente el deportes quindio cuenta con un titulo en la primera división del futbol profesional
      colombiano obtenido en el campeonato de 1956. 
    </p>
  </div>

  <!-- Sección de información del club -->
  <!-- Sección de redes sociales y contacto -->
<div class="container_contact">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-6 col-md-3 text-center mb-4 mb-md-0">
      <a href="https://www.facebook.com/DeportesQuindioS.AOficial/" target="_blank"><i class="bi bi-facebook" style="font-size: 2rem;"></i></a>
    </div>
    <div class="col-sm-6 col-md-3 text-center mb-4 mb-md-0">
      <a href="https://www.instagram.com/deportesquindiooficial/?hl=es-la" target="_blank"><i class="bi bi-instagram" style="font-size: 2rem;"></i></a>
    </div>
    <div class="row justify-content-around align-items-center">
      <div class="col-sm-12 col-md-6 text-center">
        <i class="bi bi-telephone" style="font-size: 3rem;"></i>
        <a href="https://www.deportesquindio.com.co/contacto" target="_blank">Contacto Deportes Quindio</a>
      </div>
      <div class="col-sm-12 col-md-6 text-center">
        <i class="bi bi-question-circle" style="font-size: 3rem;"></i>
        <a href="https://www.dimayor.com.co/contacto/" target="_blank">Web Dimayor</a>
      </div>
    </div>
  </div>
</div>
  
  <!-- Sección de redes sociales y contacto -->
  <div class="container_contact">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-6 col-md-3 text-center mb-4 mb-md-0">
        <a href="https://www.facebook.com/DeportesQuindioS.AOficial/" target="_blank"><i class="bi bi-facebook" style="font-size: 2rem;"></i></a>
      </div>
      <div class="col-sm-6 col-md-3 text-center mb-4 mb-md-0">
        <a href="https://www.instagram.com/deportesquindiooficial/?hl=es-la" target="_blank"><i class="bi bi-instagram" style="font-size: 2rem;"></i></a>
      </div>
      <div class="row justify-content-around align-items-center">
        <div class="col-sm-12 col-md-6 text-center">
          <div class="d-flex flex-column align-items-center">
            <i class="bi bi-telephone" style="font-size: 3rem;"></i>
            <a href="https://www.deportesquindio.com.co/contacto" target="_blank">Contacto Deportes Quindio</a>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 text-center">
          <div class="d-flex flex-column align-items-center">
            <i class="bi bi-question-circle" style="font-size: 3rem;"></i>
            <a href="https://www.dimayor.com.co/contacto/" target="_blank">Web Dimayor</a>
          </div>
        </div>
      </div>      
    </div>
  </div>
  </main>
</body>