<body>
<main role="main">
<!-- Información del club -->
<div class="container">
  <h1 class="text-center">Deportes Quindío</h1>
  <br>
  <p>El deportes quindio es un club de futbol que tiene sede en la ciudad de Armenia en el departamento del
    Quindio. Actualmente el deportes quindio cuenta con un titulo en la primera división del futbol profesional
    colombiano obtenido en el campeonato de 1956. 
  </p>
<!-- Sección de información del club -->
<div class="container">
  <div class="row align-items-center">
    <div class="col-md-3 text-center">
      <i class="bi bi-construction" style="font-size: 4rem;"></i>
      <p>Fundado el 08 de enero de 1951</p>
    </div>
    <div class="col-md-6 text-center quindio-logo" >
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/ESCUDO_DEP_QUINDIO_2023.png" alt="Deportes Quindío">
    </div>
    <div class="col-md-3 text-center align-items-center">
      <i class="bi bi-house-door" style="font-size: 4rem;"></i>
      <p><a href="https://www.google.com/maps/place/Estadio+Centenario/@4.5158262,-75.700966,17z/data=!3m1!4b1!4m6!3m5!1s0x8e38f5ede1bebfb9:0x131849fd81f105d7!8m2!3d4.5158262!4d-75.6987773!16zL20vMGNna2Zi" target="_blank">Estadio Centenario de Armenia</a></p>
      <i class="bi bi-globe" style="font-size: 3rem; margin-right: 0.5rem;"></i>
      <p><a href="https://www.deportesquindio.com.co" target="_blank" class="d-flex align-items-center">Web Oficial Deportes Quindio</a></p>
    </div>
  </div>
</div>
<!-- Sección de redes sociales y contacto -->
<div class="container my-4 contact-section">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-6 col-md-3 text-center mb-4 mb-md-0">
    </div>
      <a href="https://www.facebook.com/DeportesQuindioS.AOficial/" target="_blank"><i class="bi bi-facebook" style="font-size: 3rem;"></i></a>
    <div class="col-sm-6 col-md-3 text-center mb-4 mb-md-0">
      <a href="https://www.instagram.com/deportesquindiooficial/?hl=es-la" target="_blank"><i class="bi bi-instagram" style="font-size: 3rem;"></i></a>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12 col-md-6 text-center">
        <i class="bi bi-telephone" style="font-size: 3rem;"></i>
         <a href="https://www.deportesquindio.com.co/contacto" target="_blank">Contacto Deportes Quindio</a>
      </div>
      <div class="col-sm-12 col-md-6 text-center">
        <i class="bi bi-question-circle" style="font-size: 3rem;"></i>
        <a href="https://www.dimayor.com.co/contacto/" target="_blank">Web Dimayor</a>
      </div>
    </div>
  </div>
</div>
</div>
</main>
</body>