<!-- Título del club -->
<h1 class="text-center">Deportes Quindío</h1>

<!-- Sección de información del club -->
<div class="container my-4">
  <div class="row align-items-center">
    <div class="col-md-3 text-center">
      <i class="bi bi-tools" style="font-size: 4rem;"></i>
      <p>Fundado el 08 de enero de 1951</p>
    </div>
    <div class="col-md-6 text-center">
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/ESCUDO_DEP_QUINDIO_2023.png" alt="Deportes Quindío" class="img-fluid quindio-logo">
    </div>
    <div class="col-md-3 text-center align-items-center">
      <i class="bi bi-house-door" style="font-size: 4rem;"></i>
      <p><a href="https://www.google.com/maps?q=centenario+armenia&um=
        1&ie=UTF-8&sa=X&ved=2ahUKEwiP-6rwrNn-AhU9QzABHReGDskQ_AUoAXoECAEQAw" target="_blank">Estadio Centenario de Armenia</a></p>
      <a href="https://www.deportesquindio.com.co" target="_blank" class="d-flex align-items-center"><i class="bi bi-globe" style="font-size: 3rem; margin-right: 0.5rem;"></i> Web Oficial</a>
    </div>
  </div>
</div>


<!-- Sección de redes sociales y contacto -->
<div class="container my-4">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-6 col-md-3 text-center mb-4 mb-md-0">
      <a href="https://www.facebook.com/DeportesQuindioS.AOficial/" target="_blank"><i class="bi bi-facebook" style="font-size: 3rem;"></i></a>
    </div>
    <div class="col-sm-6 col-md-3 text-center mb-4 mb-md-0">
      <a href="https://www.instagram.com/deportesquindiooficial/?hl=es-la" target="_blank"><i class="bi bi-instagram" style="font-size: 3rem;"></i></a>
    </div>
    <div class="col-sm-12 col-md-6 text-center">
      <a href="https://www.dimayor.com.co/contacto/" target="_blank"><i class="bi bi-telephone" style="font-size: 3rem;"></i> Web Dimayor</a>
    </div>
  </div>
</div>


