main {
  padding: 20px;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #111111;
}

.container_info_club{
  margin-top: 30px;
  background-color: #0d6efd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_club {
  margin-top: 30px;
  background-color: #05dce0;
  display: flex;
  justify-content: center space-between;
  align-items: center;
}

.container_contact {
  margin-top: 30px;
  background-color: aqua;
  display: flex;
  justify-content: center space-between;
  align-items: center;
}

.quindio-logo {
  max-width: 100px;
  display: flex; 
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0.5%;
  margin-bottom: 10px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

a {
  color: #111111;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}